@import '../../mixin/Mixin.module.scss';

.container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.infoPersonalContainer{
    width: 56%;
    color: #fff;
    font-family: 'Regular';
    display: flex;
    align-items: center;
    margin-top: 24px;
    transform: translate(20%, 10%); /*alinhar elemento*/

    .imgProfile{
        border-radius: 50%;
        width: 20%;
    }

    @include responsive(tablet){
        transform: translate(6%, 10%);
        width: 80%;
    }

    @include responsive(mobile){
        display: none;
    }
}


.infoPersonal{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: 500px;
    margin-left: 80px;

    @include responsive(tablet){
        width: 100%;
        margin-left: 20px;
    }

    .toFlex{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        button{
            font-size: 1rem;
            height: 35px;
            padding: 0 15px;
            border-radius: 8px;
            border: 0;
            font-family: 'Medium';
            cursor: pointer;

            &:hover{
                opacity: .9;
            }

            @include responsive(tablet){
                font-size: 14px;
            }
        }
        p{
            font-size: 1.3rem;
            font-family: 'Light';
        }
    }

}

.followers{
    display: flex;
    align-self: flex-start;
    
    justify-content: space-between;
    width: 80%;
    p{
        margin: 0 ;

        span{
            font-family: 'Bold';
        }
    }
}

.bio{
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-top: 24px;

    p{
        margin: -5px 0 5px 0;
    }
    a{
        color: #d7e2eb;
        margin-top: -5px;
    }
}

.infoPersonalContainerMobile{
    display: none;
    justify-content: space-between;

    .infoPersonalMobile{
        width: 70%;
        height: 180px;
    }

    .imgProfile{
        border-radius: 50%;
        width: 100px;
        margin-top: 16px;
    }

    .toFlex{
        font-family: 'Bold';
        font-size: 20px;
        display: flex;
        margin-top: 28px;
        justify-content: center;
        align-items: center;
        height: 32px;
    }

    .bioMobile{
        display: flex;
        flex-direction: column;
        left: 5%;
        margin-top: 16px;
        position: absolute;

        p{
            margin: -5px 0 5px 0;
            font-family: 'Bold';
            font-size: 1rem;
        }
        a{
            color: #d7e2eb;
            font-size: 1rem;
            margin-top: -5px;
        }
    }

    .followersMobile{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: -12px;

        span{
            display: block;
            text-align: center;
            font-family: 'Bold';
        }
    }

    .buttonsMobile{
        display: flex;
        width: 100%;
        justify-content: space-between;

        button{
            border: 0;
            font-size: 14px;
            height: 30px;
            padding: 0 12px;
            border-radius: 8px;
            font-family: 'Medium';
            cursor: pointer;
    
            &:hover{
                opacity: .9;
            }
        }
    }


    @include responsive(mobile){
        display: flex;
        width: 95%;
        color: #fff;
        font-family: 'Regular';
        align-items: center;
        margin-top: 24px;
    }
}

.publicationsContainer{
    width: 56%;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(150px, 290px);

    hr{
        border-color: rgba(192, 192, 192, 0.203);
        width: 100%;
    }

    p{
        color: #fff;
        font-family: 'Medium';
        font-size: 0.9rem;
        align-self: center;
        border-top: 1px solid #fff;
        margin: -8px 0 0 0;
        padding-top: 16px;
        
        img{
            margin-right: 8px;
        }
    }

    @include responsive(tablet){
        width: 80%;
        transform: translate(6%, 290px);
    }

    @include responsive(mobile){
        width: 95%;
        transform: translate(0, 290px);
    }
}

.publications{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    row-gap: 10px;
    column-gap: 10px;

    img{
        cursor: pointer;
        width: 100%;

        &:hover{
            opacity: .6;
        }
    }
}

.footer{
    display: flex;
    justify-content: center;
    width: 120%;
    align-self: center;
    margin-top: 16px;
    p{
        border-top: 0;
        margin: 0 16px 0 0;
        color: #a8a8a8;
        font-family: 'Light';
        font-size: 0.75rem;
        cursor: pointer;
    }
    
    @include responsive(tablet){
        width: 100%;
        flex-wrap: wrap;
    }

    @include responsive(mobile){
        display: none;
    }
}

.copy{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    p{
        color: #a8a8a8;
        font-family: 'Light';
        border: 0;
    }

    @include responsive(mobile){
        margin-top: 8%;
    }
}